body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    font-size: 32px;
    color: #222;
}

h2 {
    border-bottom: 2px solid #007acc;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #007acc;
}

h3 {
    margin-bottom: 5px;
    color: #333;
}

p {
    margin: 5px 0;
    color: #444;
}

ul {
    margin: 8px 0 15px 20px;
}

li {
    margin-bottom: 6px;
    color: #444;
}

.project {
    margin-bottom: 15px;
}
.header{
    text-align:center;
    margin-bottom:40px;
}

.profile-img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:3px solid #eee;
}
#contact{
    margin-top:40px;
}

form{
    display:flex;
    flex-direction:column;
    gap:12px;
    max-width:500px;
}

input, textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}

button{
    padding:10px;
    border:none;
    background:#333;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#555;
}

#formMsg{
    font-size:14px;
}
