body{
    font-family: Arial, sans-serif;
    background:#f7f7f7;
    margin:0;
}

.container{
    max-width:900px;
    background:white;
    margin:40px auto;
    padding:30px;
    border-radius:8px;
}

.header{
    text-align:center;
    margin-bottom:40px;
}

.profile-img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}

section{
    margin-bottom:30px;
}

h2{
    border-bottom:2px solid #eee;
    padding-bottom:5px;
}

.project{
    margin-top:15px;
}

/* FORM */

form{
    max-width:500px;
    margin:30px auto;
}

form input,
form textarea,
form select{
    width:100%;
    padding:10px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:4px;
}

textarea{
    height:100px;
    resize:none;
}

button{
    padding:10px 18px;
    border:none;
    background:#222;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#444;
}

#formStatus{
    margin-top:12px;
    font-size:14px;
    line-height:1.6;
}
